<section class="section admin-add">

    <h3 class="title is-3">Add an Administrator</h3>

    <div class="content">
        {{ form_start(form, {'attr': {'id': 'add_remove_form'}}) }}
        {{ form_row(form.username, {'attr': {'id': 'form_username'}}) }}
        {{ form_row(form.email, {'attr': {'id': 'form_email'}}) }}
        {{ form_row(form.plainPassword) }}

        <div class="has-text-centered">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
</section>