<section class="section admin-add">

    <h3 class="title is-3">Add an Administrator</h3>

    <div class="content">
        {{ form_start(form, {'attr': {'id': 'add_remove_form'}}) }}
        {{ form_row(form.username, {'attr': {'id': 'form_username'}}) }}
        {{ form_row(form.email, {'attr': {'id': 'form_email'}}) }}
        {{ form_row(form.plainPassword) }}

        <div class="has-text-centered">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
</section>

<section class="section admin-list">

    <h3 class="title is-3">Remove an Administrator</h3>

    <table class="table is-fullwidth is-hoverable remove-admin">
        <thead>
            <tr>
                <th></th>
                <th>
                    Username
                </th>
                <th>
                    Email Address
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            {% for user in users | sort %}
                {% if 'ROLE_ADMIN' in user.roles %}
                    <tr id='{{ user.id }}'>
                        <td>
                            {% if user.avatar.first == null %}
                                <img class='is-rounded user-avatar' alt='avatar' src="/img/placeholder-avatar.png" width="25" height="25">
                            {% else %}
                                <img class='is-rounded user-avatar' alt='avatar' src="/uploads/avatars/{{ user.avatar.first.url }}" width="25" height="25">
                            {% endif %}
                        </td>
                        <td>
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if app.user.username == user.username %}

                            {% else %} 
                                <a onclick="removeAdmin(this)">
                                    <i class="fas fa-user-times"></i>
                                </a>
                            {% endif %}
                            
                            
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        </tbody>
    </table>

</section>
<script src="{{asset('build/js/remove_admin.js')}}"></script>