{% extends "base.html.twig"%}

{% block title %}

    Register | Zing
{% endblock %}

{% block body %}

    <div class="columns is-halfheight is-centered">
        <div class="column is-one-fifth  is-paddingless signup-card">

            <div id="login" class="is-halfheight">
                <div class="login-card">

                    <div class="card-title">
                        <h1>Upload a picture</h1>
                    </div>

                    <div class="content">
                        <div id="avatar_preview"></div>
                        <div class="columns is-centered">

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'avatar_form'}}) }}
                            <div class="file column is-centered">
                                <label class="file-label">
                                    {{ form_row(form.file) }}
                                    <span class="file-cta">
                                        <span class="file-icon">
                                            <i class="fas fa-upload"></i>
                                        </span>
                                        <span class="file-label">
                                            Choose a file…
                                        </span>
                                    </span>
                                </label>
                                <div class="has-text-centered">
                                    {{ form_row(form.submit) }}
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>

                        <div class="has-text-centered">
                            <a href="{{ path('home_view') }}" class="button is-blue is-inverted is-rounded">
                                I'll do this later
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}