{% extends "base.html.twig"%}

{% block title %}
    {{ user.username }}'s Profile | zing.
{% endblock %}

{% block body %}

    {% include 'components/navbar.html.twig' %}

    <div class="container">
        <div class='section profile-heading'>
            <div class='columns is-multiline'>
                <div class='column is-2'>
                    <span class='header-icon user-profile-image'>

                        <figure class='image profile-image'>
                            {% if user.avatar.first == null %}
                                <img class='is-rounded' alt='avatar' src="/img/placeholder-avatar.png">
                            {% else %}
                                <img class='is-rounded' alt='avatar' src="/uploads/avatars/{{ user.avatar.first.url }}">
                            {% endif %}

                        </figure>

                    </span>
                </div>
                <div class='column name'>
                    <p>
                        <span class='title is-bold'>{{ user.username }}</span>
                        <br>

                        {% set zings = upvotes + downvotes %}
                        {% if zings < 0 %}
                            <span class='tag is-danger is-outline status'>Savage</span>
                        {% elseif zings <= 10 %}
                            <span class='tag is-info is-outline status'>Fresh Spawn</span>
                        {% elseif zings <= 20 %}
                            <span class='tag is-link is-outline status'>Pro Member</span>
                        {% elseif zings <= 30 %}
                            <span class='tag is-primary is-outline status'>Veteran</span>
                        {% elseif zings <= 40 %}
                            <span class='tag is-success is-outline status'>Elder</span>
                        {% elseif zings <= 50 %}
                            <span class='tag is-warning is-outline status'>Champion</span>
                        {% else %}
                            <span class='tag is-danger is-outline status'>Celestial</span>
                        {% endif %}
                        <br>
                        <br>
                        {% if app.user in followers %}
                            <a class="button is-pink is-rounded" id="following" onclick="unfollow(this, {{ user.id }} )">
                                <strong>Following</strong>
                            </a>
                            <a class="button is-pink is-inverted is-rounded" id="follow" style="display:none" onclick="follow(this, {{ user.id }} )">
                                <strong>Follow</strong>
                            </a>

                        {% else %}
                            <a class="button is-pink is-rounded" id="following" style="display:none" onclick="unfollow(this, {{ user.id }} )">
                                <strong>Following</strong>
                            </a>
                            <a class="button is-pink is-inverted is-rounded" id="follow" onclick="follow(this, {{ user.id }} )">
                                <strong>Follow</strong>
                            </a>

                        {% endif %}

                    </p>
                </div>
                <div class='column has-text-centered'>
                    <p class='stat-val'>{{user.questions | length}}</p>
                    <p class='stat-key'>posts</p>
                </div>
                <div class='column has-text-centered'>
                    <p class='stat-val'>{{followers | length}}</p>
                    <p class='stat-key'>followers</p>
                </div>
                <div class='column has-text-centered'>
                    <p class='stat-val'>{{following | length}}</p>
                    <p class='stat-key'>following</p>
                </div>
                <div class='column has-text-centered'>
                    <p class='stat-val'>{{upvotes + downvotes}}</p>
                    <p class='stat-key'>zings</p>
                </div>
            </div>

        </div>
        <div class='profile-options is-fullwidth'>
            <div class='tabs is-fullwidth'>
                <ul>
                    <li class='link posts-tab is-active'>
                        <a>
                            <span class='icon'>
                                <i class='fa fa-list'></i>
                            </span>
                            <span>Posts</span>
                        </a>
                    </li>
                    <li class='link comments-tab'>
                        <a>
                            <span class='icon'>
                                <i class='fa fa-comment'></i>
                            </span>
                            <span>Comments</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="main">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="posts">
                        {% include 'components/posts.html.twig' %}
                    </div>
                    <div class="comments">
                        {% include 'components/comments.html.twig' %}
                    </div>
                </div>
                <div class="column is-one-quarter">
                    <div class="box">
                        <p class='subtitle is-bold has-text-centered'>Followers</p>
                        {% if followers | length > 0 %}
                            {% for follower in followers %}
                                {% include 'components/user.html.twig' with {'user': follower}%}
                            {% endfor %}
                        {% endif %}

                    </div>
                    <div class="box">
                        <p class='subtitle is-bold has-text-centered'>Following</p>
                        {% if following | length > 0 %}

                            {% for followin in following %}
                                {% include 'components/user.html.twig' with {'user': followin}%}
                            {% endfor %}
                        {% endif %}

                    </div>
                </div>
            </div>

        </div>
    </div>

    {% block script %}
        <script src="{{asset('build/js/follow.js')}}"></script>
        <script>
            $(function () {
                $('.posts').show();
                $('.comments').hide();
                $('.profile').hide();

                $('.posts-tab').on('click', function () {
                    $('.comments-tab').removeClass('is-active');
                    $('.profile-tab').removeClass('is-active');
                    $(this).addClass('is-active');
                    $('.posts').show();
                    $('.profile').hide();
                    $('.comments').hide();
                });

                $('.comments-tab').on('click', function () {
                    $('.posts-tab').removeClass('is-active');
                    $('.profile-tab').removeClass('is-active');
                    $(this).addClass('is-active');
                    $('.posts').hide();
                    $('.profile').hide();
                    $('.comments').show();
                });

                $('.profile-tab').on('click', function () {
                    $('.posts-tab').removeClass('is-active');
                    $('.comments-tab').removeClass('is-active');
                    $(this).addClass('is-active');
                    $('.posts').hide();
                    $('.comments').hide();
                    $('.profile').show();
                });

                $('.change-password').hide();
                $('.cancel-update').hide();
                $('.new-password-link').on('click', function () {
                    $('.change-password').show();
                    $('.cancel-update').show();
                    // $('.new-password-input').attr('disabled', true);
                    $('.new-password').hide();
                })

                $('.cancel-update').on('click', function () {
                    $(this).hide();
                    $('.change-password').hide();
                    $('.new-password').show();
                })
            })
        </script>
    {% endblock %}

{% endblock %}