{% extends "base.html.twig"%}

{% block title %}
    {{question.title}}
{% endblock %}

{% block body %}
    {% include 'components/navbar.html.twig'%}

    <div class="container main">
        <div class="columns is-centered">
            <div class="column is-three-quarters">

                <div class="box is-clearfix">
                    {% include 'components/question.html.twig'
                    with {
                        'question' : question
                    } %}

                    {% for reply in question.replys %}

                        {% include 'components/reply.html.twig' with {
                            'reply' : reply
                        } %}

                    {% endfor %}

                    <article class="content" id="reply">

                        <hr class="navbar-divider">

                        <p>What do you think?</p>

                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                        {{ form_row(form.body)}}

                        {{ form_end(form) }}
                    </article>

                </div>

            </div>

        </div>
    </div>
    {% block script %}
        <script src="{{asset('build/js/voting.js')}}"></script>

    {% endblock %}

{% endblock %}