<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="">
            <img src="img/alt-logo.svg" width="120" height="100">
            <h1 class="title">zing.</h1>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start"></div>
    </div>

    <div class="navbar-end">
        <a class="navbar-item" href="{{ path('home_view') }}">
            Home
        </a>

        <div class="navbar-item has-dropdown is-hoverable ">
            <a class="navbar-link">
                Sections
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item">
                    Cooking
                </a>
                <a class="navbar-item">
                    Home
                </a>
                <a class="navbar-item">
                    Love
                </a>
                <a class="navbar-item">
                    Fitness
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    Roast Me
                </a>
            </div>
        </div>
        {% if app.user == null %}
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-blue is-rounded" href="{{ path('signup_view') }}">
                        <strong>Sign up</strong>
                    </a>
                    <a href="{{ path('login_view') }}" class="button is-blue is-inverted is-rounded">
                        Log in
                    </a>
                </div>
            </div>
        {% else %}
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <a class="navbar-item">
                    Admin
                </a>
            {% endif %}
            <div class="navbar-item has-dropdown is-hoverable ">
                <a class="navbar-link user-details">
                    <img src="uploads/avatars/7b0fdd53c0488defdb5a1f950001862e.png" width="30" height="30" class="user-avatar">
                    {{app.user.username}}
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="{{ path('user_profile') }}">
                        My Profile
                    </a>
                    <a class="navbar-item">
                        Settings
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Log out
                    </a>

                </div>
            </div>
        {% endif %}
    </div>
</div>
</nav>