<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            {% if question.user.avatar.first == null %}
                <img class='is-rounded' alt='avatar' src="/img/placeholder-avatar.png">
            {% else %}
                <img class='is-rounded' alt='avatar' src="/uploads/avatars/{{ question.user.avatar.first.url }}">
            {% endif %}

        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <br>
                {% if app.user == null %}
                    <a href="{{ path('login_view') }}">
                        @{{question.user.username}}
                    </a>
                {% else %}
                    <a href="{{ path('show_profile', { 'id' : question.user.id }) }}">
                        @{{question.user.username}}
                    </a>
                {% endif %}
                <br>
                <br>
                <strong>
                    {{question.title}}
                </strong>
                <br>
                {{question.body}}
            </p>
        </div>

        <nav class="level is-mobile">
            <div class="level-left">

                {% for tag in question.tags %}
                    <a class="level-item" href="{# {{ path('show_question', { 'id' : question.id }) }} #}">
                        <span class='tag is-pink is-outline status is-uppercase'>
                            {{tag.name}}</span>
                    </a>
                {% endfor %}
            </div>
            <div class="level-right">

                {% if not app.user == null %}
                    <a class="level-item" href="{{ path('show_question', { 'id' : question.id }) }}">
                        <span class='tag is-yellow is-outline status is-uppercase'>
                            {{question.replys|length}}
                            Answers</span>
                    </a>

                    <a class="level-item" href="{{ path('show_question', { 'id' : question.id }) }}">
                        <span class="icon is-small is-blue">
                            <i class="fas fa-reply"></i>
                        </span>
                    </a>
                {% endif %}

            </div>
        </nav>

    </div>
</article>