<article class="media reply column is-11 is-offset-1">
    <div class="media-content columns">
        <figure class="media-left column is-1">
            <p class="image is-48x48">
                {% if reply.user.avatar.first == null %}
                    <img class='is-rounded' alt='avatar' src="/img/placeholder-avatar.png">
                {% else %}
                    <img class='is-rounded' alt='avatar' src="/uploads/avatars/{{ reply.user.avatar.first.url }}">
                {% endif %}

            </p>
        </figure>
        <div class="content column is-7">

            <p>
                {% if app.user.id is same as(reply.user.id) %}
                    <a href="{{ path('user_profile') }}">
                        <strong>{{reply.user.username}}</strong>
                    </a>
                {% else %}
                    <a href="{{ path('show_profile', { 'id' : reply.user.id }) }}">
                        <strong>{{reply.user.username}}</strong>
                    </a>

                {% endif %}

                <br>
                {{reply.body}}
            </p>
        </div>

        <div class="media-right column is-3 is-clearfix" id='{{reply.id}}'>
            {% if 'ROLE_ADMIN' in app.user.roles %}
                <span class="is-pulled-right icon is-medium is-inactive" onclick="deleteReply(this)">
                    <i class="fas fa-lg fa-trash-alt"></i>
                </span>
            {% endif %}
            {% if app.user.id is same as(reply.user.id) %}

            {% else %}
                <span class="is-pulled-right icon is-medium is-inactive" onclick="vote(this, -1)">
                    <i class="fas fa-lg fa-long-arrow-alt-down"></i>
                </span>
                <span class=" is-pulled-right icon is-medium is-inactive" onclick="vote(this, 1)">
                    <i class="fas fa-lg fa-long-arrow-alt-up"></i>
                </span>

            {% endif %}

            <p class="is-pulled-right is-size-4 is-inactive">
                {{reply.upvotes + reply.downvotes}}
            </p>
        </div>

    </div>
</article>