<div class="level">
    <div class="level-left">

        <div class="level-item">
            <p class="image is-64x64">
                {% if user.avatar.first == null %}
                    <img class='is-rounded' alt='avatar' src="/img/placeholder-avatar.png">
                {% else %}
                    <img class='is-rounded' alt='avatar' src="/uploads/avatars/{{ user.avatar.first.url }}">
                {% endif %}
            </p>
        </div>
        <div class="level-item">
            <p>
                {% if app.user.id is same as(user.id) %}
                    <a href="{{ path('user_profile') }}">
                        <strong>{{user.username}}</strong>
                    </a>
                {% else %}
                    <a href="{{ path('show_profile', { 'id' : user.id }) }}">
                        <strong>{{user.username}}</strong>
                    </a>

                {% endif %}

            </p>
        </div>
    </div>
</div>